@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSansCyrl-100.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "MuseoSansCyrl";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "MuseoSansCyrl";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.header__container {
  padding: 0px 0px 0px 68px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social-icon {
  margin: 0px 20px 0px 0px;
}

.header__social-icon img {
  max-width: 100%;
}

.header__logo img {
  max-width: 100%;
}

.icon-menu {
  display: block;
  position: relative;
  width: calc(100px + 60 * ((100vw - 320px) / 1120));
  height: calc(100px + 60 * ((100vw - 320px) / 1120));
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.icon-menu span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  z-index: 10;
  background-color: #fff;
  -webkit-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
  transition: 0.4s ease 0s;
}

.icon-menu span:first-child {
  top: 0;
}

.icon-menu span:nth-child(2) {
  width: calc(100% - 8px);
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.icon-menu span:last-child {
  bottom: 0;
}

.icon-menu__body {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon-menu.active span:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 11px;
}

.icon-menu.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 11px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 80px;
}

.footer__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22.222%;
          flex: 0 0 22.222%;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 144px 0px;
  min-width: 250px;
}

.footer__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__logo {
  display: block;
  width: 227px;
  margin-bottom: calc(40px + 47 * ((100vw - 320px) / 1120));
}

.footer__logo img {
  width: 100%;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: calc(40px + 47 * ((100vw - 320px) / 1120));
}

.footer__list li {
  margin-bottom: calc(18px + 8 * ((100vw - 320px) / 1120));
}

.footer__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__list_01 {
  max-width: 305px;
}

.footer__list_02 {
  max-width: 110px;
}

.footer__list_03 {
  max-width: 245px;
}

.footer__address {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.footer__link {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.footer__phone-mumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__copy {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.footer__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  margin: 0px 0px 110px 0px;
}

.footer__icon:first-child {
  width: 120px;
}

.footer__icon:nth-child(2) {
  width: 140px;
}

.footer__icon:last-child {
  width: 100px;
  margin: 0px 0px 0px 0px;
}

.footer__icon img {
  max-width: 100%;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.button {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 28px 178px 28px 0px;
  -webkit-transition: 1s ease 0s;
  -o-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

.button::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #00adef;
}

.button__text {
  color: #00adef;
  font-weight: 500;
  letter-spacing: 2px;
  white-space: nowrap;
}

.button__blue-line {
  position: absolute;
  width: calc(55px + 25 * ((100vw - 320px) / 1120));
  height: 1px;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #00adef;
  -webkit-transition: 0.2s ease 0.6s;
  -o-transition: 0.2s ease 0.6s;
  transition: 0.2s ease 0.6s;
}

.button__line {
  position: absolute;
  background-color: #00adef;
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.button__line_1 {
  right: 0;
  top: 50%;
  width: 1px;
  height: 0;
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.button__line_3 {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 0;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.button__line_4 {
  left: 0;
  top: 0;
  width: 0;
  height: 1px;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.button__line_5 {
  right: 0;
  top: 0;
  width: 1px;
  height: 0;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.rectangles {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  margin: 280px 0px 0px 0px;
}

.rectangles__rectangle {
  background-color: #fff;
  width: calc(0px + 160 * ((100vw - 320px) / 1120));
  max-width: 200px;
  height: 80px;
  margin: 0px 0px 80px 0px;
}

.rectangles__rectangle:last-child {
  margin: 0px 0px 0px 0px;
}

.scroll-icons {
  position: absolute;
  height: calc(100% - 280px);
  right: calc(35px + 45 * ((100vw - 320px) / 1120));
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  top: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 280px 0px 0px 0px;
}

.scroll-icons__body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-icons__body::before,
.scroll-icons__body::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 88px;
  left: calc(50% - 1px);
  background-color: #fff;
  z-index: 10;
}

.scroll-icons__body::before {
  top: -77px;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.scroll-icons__body::after {
  bottom: -77px;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.scroll-icons__icon {
  display: block;
  margin: 0px 0px 15px 0px;
}

.scroll-icons__icon:last-child {
  margin: 0px 0px 0px 0px;
}

.title {
  color: #000000;
  font-weight: 100;
  font-size: calc(0.00357 * 100vw + 26.85714px);
  line-height: calc(36px + 12 * ((100vw - 320px) / 1120));
  max-width: 640px;
}

body {
  color: #000;
  font-size: 14px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  /* &.loaded {} */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* .container {
   max-width: $mw + px;
   margin: 0 auto;
   width: 100%;
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
} */

.content__main-block {
  margin-bottom: calc(40px + 120 * ((100vw - 320px) / 1120));
}

.content__advantages {
  margin-bottom: calc(40px + 324 * ((100vw - 320px) / 1120));
}

.content__goals {
  margin-bottom: calc(50px + 110 * ((100vw - 320px) / 1120));
}

.content__standards {
  margin-bottom: calc(60px + 192 * ((100vw - 320px) / 1120));
}

.content__smart-home {
  margin-bottom: calc(60px + 236 * ((100vw - 320px) / 1120));
}

.content__housing {
  margin-bottom: calc(70px + 90 * ((100vw - 320px) / 1120));
}

.main-block {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__body {
  background-color: #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: calc(35px + 45 * ((100vw - 320px) / 1120));
  padding-bottom: calc(35px + 45 * ((100vw - 320px) / 1120));
}

.main-block__container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-block__content {
  position: relative;
  z-index: 1;
  max-width: 448px;
  padding: 0px 10px 0px 0px;
  margin-left: calc(10px + 230 * ((100vw - 320px) / 1120));
}

.main-block__title {
  color: #ffffff;
  font-weight: 900;
  font-size: calc(0.01964 * 100vw + 35.71429px);
  line-height: calc(50px + 22 * ((100vw - 320px) / 1120));
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1120));
}

.main-block__label {
  color: #ffffff;
  font-weight: 100;
  font-size: calc(0.00357 * 100vw + 26.85714px);
  line-height: calc(34px + 14 * ((100vw - 320px) / 1120));
}

.scroll {
  position: absolute;
  left: 50%;
  bottom: -34px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll__line {
  background-color: #fff;
  width: 1px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(40px + 48 * ((100vw - 320px) / 1120));
      flex-basis: calc(40px + 48 * ((100vw - 320px) / 1120));
}

.scroll__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-top: calc(15px + 10 * ((100vw - 320px) / 1120));
  margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1120));
}

.scroll__icon span {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1px;
          flex: 0 0 1px;
  background-color: white;
}

.scroll__icon span:nth-child(2) {
  margin: 10px 0px;
}

.advantages {
  position: relative;
}

.advantages .rectangles {
  margin: 272px 0px 0px 0px;
}

.advantages .rectangles__rectangle {
  background-color: #000;
  max-width: 80px;
}

.advantages .scroll-icons {
  margin: 272px 0px 0px 0px;
}

.advantages .scroll-icons .scroll-icons__body::before,
.advantages .scroll-icons .scroll-icons__body::after {
  background-color: #000;
}

.advantages__container {
  max-width: 1134px;
  margin: 0px auto;
  padding: 0px 10px;
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: calc(25px + 83 * ((100vw - 320px) / 1120));
}

.advantages__blue-line {
  width: 2px;
  height: 272px;
  background-color: #00adef;
  margin: 0px 15px;
}

.advantages__subtitle {
  opacity: 0.2;
  color: #000000;
  font-weight: 900;
  font-size: calc(0.00179 * 100vw + 17.42857px);
  letter-spacing: 8px;
  line-height: calc(30px + 2 * ((100vw - 320px) / 1120));
  text-transform: uppercase;
  max-width: 235px;
}

.advantages__content {
  margin-bottom: calc(20px + 100 * ((100vw - 320px) / 1120));
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -40px;
}

.advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0px 40px;
}

.advantages__label {
  color: #000000;
  font-weight: 900;
  font-size: calc(0.00179 * 100vw + 17.42857px);
  line-height: calc(22px + 10 * ((100vw - 320px) / 1120));
  margin: 0px 0px 10px 0px;
}

.advantages__text {
  opacity: 0.5;
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  line-height: calc(24px + 4 * ((100vw - 320px) / 1120));
}

.advantages__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.goals {
  position: relative;
  min-height: 952px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.goals .rectangles {
  margin: 237px 0px 0px 0px;
}

.goals .rectangles__rectangle {
  max-width: 80px;
}

.goals .scroll-icons {
  margin: 237px 0px 0px 0px;
  right: calc(20px + 60 * ((100vw - 320px) / 1120));
}

.goals__container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goals__gray-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: calc(20px + 60 * ((100vw - 320px) / 1120));
  margin-top: calc(20px + 60 * ((100vw - 320px) / 1120));
  background-color: #d1d3d4;
}

.goals__body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: calc(20px + 60 * ((100vw - 320px) / 1120));
  margin-bottom: calc(20px + 60 * ((100vw - 320px) / 1120));
  -webkit-box-shadow: 0 90px 80px -40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 90px 80px -40px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goals__content {
  position: relative;
  max-width: 556px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 80px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.goals__title {
  color: #ffffff;
  font-weight: 100;
  font-size: calc(0.00446 * 100vw + 25.57143px);
  line-height: calc(36px + 12 * ((100vw - 320px) / 1120));
  margin-bottom: calc(20px + 43 * ((100vw - 320px) / 1120));
}

.goals__text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin: 0px 0px 5px 0px;
}

.goals__text p {
  margin-bottom: calc(16px + max-val-16 * ((100vw - 320px) / 1120));
}

.goals__text p:last-child {
  margin: 0px 0px 0px 0px;
}

.goals__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(16px + 27 * ((100vw - 320px) / 1120));
}

.goals__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goals__author span {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: calc(8px + 6 * ((100vw - 320px) / 1120));
}

.goals__author span:first-child {
  font-weight: 900;
}

.goals__author span:last-child {
  line-height: 22px;
  margin: 0px 0px 0px 0px;
}

.goals__signature {
  margin: 0px 0px 0px 18px;
}

.goals__signature img {
  max-width: 100%;
}

.goals__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.goals-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #141414;
}

.goals-background__image {
  max-width: 991px;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.goals-background__image img {
  -o-object-position: 30%;
     object-position: 30%;
}

.standards .title {
  font-size: calc(0.00536 * 100vw + 24.28571px);
}

.standards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px 0px 0px;
}

.standards__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.standards__list li {
  color: #000000;
  font-weight: 900;
  font-size: 20px;
  line-height: calc(30px + 2 * ((100vw - 320px) / 1120));
  background: url("../img/icons/check.svg") left 2px/19px 13px no-repeat;
  padding-left: calc(25px + 25 * ((100vw - 320px) / 1120));
  margin-bottom: calc(18px + 20 * ((100vw - 320px) / 1120));
}

.standards__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.smart-home {
  position: relative;
}

.smart-home .rectangles {
  margin: 203px 0px 0px 0px;
}

.smart-home .rectangles .rectangles__rectangle {
  background-color: #000;
  max-width: 80px;
}

.smart-home .scroll-icons {
  margin: 203px 0px 0px 0px;
}

.smart-home .scroll-icons__body::before,
.smart-home .scroll-icons__body::after {
  background-color: #000;
}

.smart-home__container {
  max-width: calc(1200px + 80px);
  padding: 0px 0px 0px 80px;
  margin: 0px auto;
}

.smart-home__body {
  position: relative;
}

.smart-home__background {
  position: absolute;
  width: 480px;
  height: 100%;
  min-height: 811px;
  top: 0;
  right: 0;
}

.smart-home__content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: calc(30px + 60 * ((100vw - 320px) / 1120));
  padding-bottom: calc(30px + 60 * ((100vw - 320px) / 1120));
}

.smart-home__title {
  max-width: 560px;
  margin-bottom: calc(35px + 67 * ((100vw - 320px) / 1120));
}

.smart-home__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1120));
}

.smart-home__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  position: relative;
  min-height: 240px;
  background-color: #00adef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: calc(38px + 10 * ((100vw - 320px) / 1120));
  padding-left: calc(30px + 10 * ((100vw - 320px) / 1120));
}

.smart-home__icon {
  position: absolute;
  right: 24px;
  top: 24px;
}

.smart-home__label {
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  line-height: calc(28px + 4 * ((100vw - 320px) / 1120));
  max-width: 160px;
}

.smart-home__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 480px;
}

.smart-home__button .button__blue-line {
  width: calc(28px + 52 * ((100vw - 320px) / 1120));
}

.housing {
  position: relative;
}

.housing .rectangles {
  margin: 116px 0px 0px 0px;
}

.housing .rectangles__rectangle {
  max-width: 80px !important;
}

.housing__container {
  max-width: calc(1163px + 80px);
  padding: 0px 0px 0px 80px;
  margin: 0px auto;
}

.housing__body {
  position: relative;
  padding-top: calc(50px + 70 * ((100vw - 320px) / 1120));
}

.housing__background {
  position: absolute;
  width: 100%;
  height: 632px;
  top: 0;
  left: 0;
  background-color: #000;
}

.housing__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  padding: 0px 10px;
  margin: 0px 0px 80px 0px;
}

.housing__title {
  font-size: calc(0.00536 * 100vw + 24.28571px);
  line-height: calc(40px + 8 * ((100vw - 320px) / 1120));
  color: #fff;
}

.housing__blue-line {
  width: 2px;
  height: 272px;
  background-color: #00adef;
  margin: 0px 15px;
}

.housing__subtitle {
  opacity: 0.2;
  color: #fff;
  font-weight: 900;
  font-size: calc(0.00357 * 100vw + 14.85714px);
  letter-spacing: 8px;
  line-height: calc(30px + 2 * ((100vw - 320px) / 1120));
  text-transform: uppercase;
  max-width: 235px;
}

.housing__row {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 80px 0px 0px;
  margin: 0px -40px;
}

.housing__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0px 40px;
}

.housing-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.housing-item__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  min-width: 320px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.housing-item__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.housing-item__shadow {
  position: absolute;
  width: 240px;
  height: 240px;
  left: 50%;
  bottom: -60px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.housing-item__shadow img {
  max-width: 100%;
}

.housing-item__logo {
  position: relative;
  z-index: 1;
}

.housing-item__body {
  padding: 48px 0px 0px 0px;
}

.housing-item__list li {
  margin: 0px 0px 24px 0px;
}

.housing-item__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.housing-item__list li span {
  opacity: 0.5;
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  padding: 0px 0px 0px 30px;
  line-height: 27px;
}

.housing-item__01 {
  background: url("../img/housing/list-icon01.svg") left center no-repeat;
}

.housing-item__02 {
  background: url("../img/housing/list-icon02.svg") left center no-repeat;
}

.housing-item__03 {
  background: url("../img/housing/list-icon03.svg") left center no-repeat;
}

.housing-item__04 {
  background: url("../img/housing/list-icon04.svg") left center no-repeat;
}

.news {
  position: relative;
}

.news .rectangles {
  margin: 280px 0px 0px 0px;
}

.news .rectangles__rectangle {
  background-color: #000;
  max-width: 80px;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  position: relative;
}

.news__item_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 0px;
}

.news__item_image {
  min-height: 380px;
}

.news__item_common {
  padding: 85px 0px 85px 80px;
}

.news__wrapper {
  max-width: 240px;
  margin: 16px 0px 0px 85px;
}

.news__content {
  position: relative;
  z-index: 1;
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news__title {
  color: #000000;
  font-weight: 900;
  font-size: calc(0.00179 * 100vw + 37.42857px);
  line-height: calc(42px + 14 * ((100vw - 320px) / 1120));
  margin-bottom: calc(22px + 48 * ((100vw - 320px) / 1120));
}

.news__button {
  max-width: 240px;
}

.news__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.news__label {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  background-color: #000;
  padding: 14px 48px;
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1120));
}

.news__text {
  color: #000000;
  font-weight: 900;
  font-size: 20px;
  line-height: calc(28px + 4 * ((100vw - 320px) / 1120));
  margin-bottom: calc(40px + 35 * ((100vw - 320px) / 1120));
}

.news__date {
  opacity: 0.5;
  color: #000000;
  font-weight: 300;
  font-size: 16px;
}

.news .news__item_image .news__text {
  color: #fff;
}

.news .news__item_image .news__date {
  color: #fff;
}

@media (min-width: 767.98px) {
  .footer__link:hover {
    text-decoration: underline;
  }

  .button:hover {
    padding: 28px 89px;
  }

  .button:hover .button__blue-line {
    right: -100%;
    -webkit-transition: 85.106ms linear 0s;
    -o-transition: 85.106ms linear 0s;
    transition: 85.106ms linear 0s;
  }

  .button:hover .button__line_1 {
    height: 100%;
    -webkit-transition: 37.234ms linear 0s;
    -o-transition: 37.234ms linear 0s;
    transition: 37.234ms linear 0s;
  }

  .button:hover .button__line_3 {
    height: 100%;
    -webkit-transition: 74.468ms linear calc(  37.234ms);
    -o-transition: 74.468ms linear calc(  37.234ms);
    transition: 74.468ms linear calc(  37.234ms);
  }

  .button:hover .button__line_4 {
    width: 100%;
    -webkit-transition: 425.531ms linear calc(  37.234ms + 74.468ms);
    -o-transition: 425.531ms linear calc(  37.234ms + 74.468ms);
    transition: 425.531ms linear calc(  37.234ms + 74.468ms);
  }

  .button:hover .button__line_5 {
    height: 100%;
    -webkit-transition: 37.234ms linear calc(  37.234ms + 74.468ms + 425.531ms);
    -o-transition: 37.234ms linear calc(  37.234ms + 74.468ms + 425.531ms);
    transition: 37.234ms linear calc(  37.234ms + 74.468ms + 425.531ms);
  }

  .news__button:hover {
    padding: 28px 63px;
  }
}

@media (max-width: 1400px) {
  .advantages__container {
    max-width: 900px;
  }

  .advantages__row {
    margin: 0px -20px;
  }

  .advantages__item {
    padding: 0px 20px;
  }

  .smart-home__container {
    max-width: 1000px;
    padding: 0px 10px;
  }

  .smart-home__content {
    padding: 0px 0px 0px 0px;
  }

  .smart-home__title {
    margin-bottom: calc(35px + 15 * ((100vw - 320px) / 1120));
  }

  .smart-home__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 580px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .smart-home__item {
    margin: 0px 20px 40px 20px;
  }
}

@media (max-width: 1320px) {
  .housing__container {
    padding: 0px 0px 0px 0px;
    max-width: 900px;
  }

  .housing__row {
    padding: 0px 0px 0px 0px;
    margin: 0px -15px;
  }

  .housing__item {
    padding: 0px 15px;
  }
}

@media (max-width: 1200px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__body {
    padding-left: calc(10px + 70 * ((100vw - 320px) / 1120));
    padding-right: calc(10px + 70 * ((100vw - 320px) / 1120));
    padding-top: calc(65px + 15 * ((100vw - 320px) / 1120));
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 1120));
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__right {
    padding: 60px 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 720px;
    padding: 0px 10px;
    margin: 0px auto;
  }

  .footer__icon {
    margin: 0px 0px 0px 0px;
  }

  .smart-home__container {
    max-width: 800px;
  }

  .smart-home__background {
    opacity: 0.15;
  }

  .news__item_common {
    padding: 50px 0px 40px 50px;
  }

  .news__wrapper {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 1180px) {
  .goals__body::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
  }
}

@media (max-width: 1150px) {
  .advantages__container {
    max-width: 700px;
  }

  .advantages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .advantages__item:last-child {
    margin: 25px 0px 0px 0px;
  }

  .standards__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .standards__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: calc(40px + 10 * ((100vw - 320px) / 1120));
  }

  .standards__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .housing .rectangles {
    display: none;
  }

  .housing__container {
    max-width: 700px;
  }

  .housing__body {
    padding-top: calc(50px + 30 * ((100vw - 320px) / 1120));
  }

  .housing__background {
    height: 350px;
  }

  .housing__top {
    margin: 0px 0px 120px 0px;
  }

  .housing__blue-line {
    height: 220px;
  }

  .housing__row {
    margin: 0px 0px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .housing__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 55px 0px;
  }

  .housing__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .housing-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .housing-item__top {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
    min-height: 320px;
  }

  .housing-item__body {
    padding: 0px 0px 0px 70px;
  }

  .news .rectangles {
    display: none;
  }
}

@media (max-width: 1100px) {
  .news__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 1000px) {
  .smart-home__container {
    max-width: 600px;
  }

  .smart-home__background {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .advantages__container {
    max-width: 500px;
  }

  .advantages__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .advantages__blue-line {
    height: 2px;
    width: 100%;
    margin: 22px 0px;
  }

  .advantages__row {
    margin: 0px 0px 0px 0px;
  }

  .advantages__item {
    padding: 0px 0px 0px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 18px 0px;
  }

  .advantages__item:last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 900px) {
  .footer__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px -40px 15px -40px;
  }

  .footer__list {
    max-width: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0px 40px;
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 767.98px) {
  .header {
    top: 20px;
  }

  .header__container {
    padding: 0px 10px;
  }

  .icon-menu {
    width: calc(55px + 105 * ((100vw - 320px) / 1120));
    height: calc(55px + 105 * ((100vw - 320px) / 1120));
    background-color: rgba(0, 0, 0, 0.8);
  }

  .rectangles {
    display: none;
  }

  .scroll-icons {
    display: none;
  }

  .main-block__body {
    padding: 0px 0px 0px 0px;
  }

  .scroll {
    bottom: 25px;
  }

  .goals {
    min-height: auto;
  }

  .goals__gray-background {
    margin: 0px 0px 0px 0px;
  }

  .goals__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 80px 0px;
    margin: 0px 0px 0px 0px;
  }

  .goals__content {
    margin: 0px 0px 0px 0px;
  }

  .smart-home__row {
    max-width: 100%;
  }

  .housing__container {
    max-width: none;
  }

  .housing__row {
    max-width: 600px;
    margin: 0px auto;
  }

  .housing-item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .housing-item__body {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 700px) {
  .news__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .news__item_main {
    display: block;
  }

  .news__item_image {
    min-height: 280px;
  }

  .news__item_common {
    padding-top: calc(40px + 45 * ((100vw - 320px) / 1120));
    padding-bottom: calc(40px + 45 * ((100vw - 320px) / 1120));
    padding-left: calc(10px + 70 * ((100vw - 320px) / 1120));
  }

  .news__wrapper {
    padding: 0px 0px 45px 0px;
    padding-left: calc(10px + 70 * ((100vw - 320px) / 1120));
    margin: 0px 0px 0px 0px;
  }

  .news__content {
    max-width: none;
  }

  .news__button {
    max-width: none;
  }
}

@media (max-width: 650px) {
  .housing__background {
    height: 440px;
  }

  .housing__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 500px;
    margin: 0px 0px 110px 0px;
  }

  .housing__blue-line {
    height: 2px;
    width: 100%;
    margin: 22px 0px;
  }

  .housing-item__top {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
  }
}

@media (max-width: 600px) {
  .smart-home__row {
    margin-left: 0;
    margin-right: 0;
  }

  .smart-home__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 25px 0px;
  }

  .smart-home__item:last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 580px) {
  .housing-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .housing-item__top {
    min-width: 320px;
  }

  .housing-item__body {
    padding: 40px 0px 0px 10px;
    min-width: 320px;
  }
}

@media (max-width: 560px) {
  .footer__main {
    margin: 0px 0px 40px 0px;
  }

  .footer__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
  }

  .footer__list:last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 520px) {
  .footer__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__icon {
    margin: 0px 0px 80px 0px;
  }
}

@media (max-width: 479.98px) {
  .header__social-icon {
    display: none;
  }

  .header__logo {
    max-width: 175px;
  }

  .button {
    width: 100%;
    padding: 28px 0px;
  }

  .advantages__button {
    padding: 24px 0px;
  }

  .goals__text {
    margin: 0px 0px 15px 0px;
  }

  .standards__list li {
    font-weight: 700;
    background: url("../img/icons/check.svg") left 6px/14px 10px no-repeat;
  }

  .smart-home__button {
    padding: 20px 0px;
  }

  .housing__background {
    height: 500px;
  }

  .housing__top {
    margin: 0px 0px 120px 0px;
  }

  .housing-item__list li {
    margin: 0px 0px 18px 0px;
  }
}

@media (max-width: 420px) {
  .smart-home__button .button__text {
    letter-spacing: normal;
  }
}

@media (max-width: 1100px) and (min-width: 701px) {
  .news__item_01 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .news__item_02 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .news__item_03 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .news__item_04 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .news__item_05 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .news__item_06 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

@media (max-height: 780px) {
  .rectangles {
    margin: 200px 0px 0px 0px;
  }

  .scroll-icons {
    margin: 200px 0px 0px 0px;
  }
}

@media (max-height: 730px) {
  .rectangles {
    margin: 160px 0px 0px 0px;
  }

  .scroll-icons {
    margin: 160px 0px 0px 0px;
  }
}

@media (min-height: 1200px) {
  .rectangles {
    margin: 520px 0px 0px 0px;
  }

  .scroll-icons {
    margin: 520px 0px 0px 0px;
  }
}

@media (max-height: 568px) {
  .rectangles {
    display: none;
  }

  .scroll-icons {
    display: none;
  }

  .main-block {
    min-height: 568px;
  }
}

@media (max-height: 879px) {
  .scroll-icons__body::before,
  .scroll-icons__body::after {
    display: none;
  }
}

@media (max-height: 567.8px) {
  .scroll {
    display: none;
  }
}

@media (max-height: 1000px) {
  .advantages .rectangles {
    margin-top: calc(100px + 172 * ((100vw - 320px) / 1120));
  }

  .advantages .scroll-icons {
    margin-top: calc(100px + 172 * ((100vw - 320px) / 1120));
  }
}